#ENV FILES
.env

#NODE_MODULES
node_modules
.idea

.DS_Store


#MIGRATION
/back/prisma/migrations/

gitignore
back/prisma/migrations/migration_lock.toml
back/prisma/migrations/20231201114112_to_deploy/migration.sql