#mainContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

#pageContent {
  height: 100%;
  padding-bottom: 70px;
  overflow-y: auto;
}

.Background {
  background-image: url('./images/BACKGROUND.png');
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.loginBtn {
  margin-top: 50px;
  position: relative;
}

.Download {
  position: absolute;
  right: 18px;
  bottom: -15px;
  /* height: 3rem;
  width: 3rem; */
  display: flex;
  transform-origin: center;
  transition: transform 300ms;
  transform: scale(0.7);
}

.Download:hover {
  transform: scale(0.8, 0.8);
}

.IconDownload {
  height: 5rem;
  width: 5rem;
}

.Pong {
  filter: drop-shadow(3px 3px 0px #cecccc);
}

.Buildings {
  filter: drop-shadow(7px 7px 1px #919191);
  bottom: 0;
  left: 0;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
}

.NewGame {
  filter: drop-shadow(4px 4px 0px #a1a1a1);
  height: fit-content;
}

.Foot {
  position: absolute;
  height: 70px;
  bottom: 0;
  left: 0;
}

.Parent {
  position: relative;
  height: 100%;
}

.enfant {
  position: absolute;
  bottom: -60px;
  filter: drop-shadow(2px 2px 0px #a1a1a1);
  z-index: 1;
}

.Fire {
  position: absolute;
  top: 40px;
  left: 60px;
}

.shadow {
  filter: drop-shadow(6px 6px 10px #ebe2ca);
}

.pseudo {
  letter-spacing: -2px;
  filter: drop-shadow(6px 6px 10px #ebe2ca);
  background: wheat;
  padding: 10px 20px 10px 14px;
  border-radius: 20px 0 0 20px;
  margin-right: -15px;
}

.pseudoProfil {
  letter-spacing: -2px;
}

.barre-verticale {
  width: 1px;
  background-color: rgb(219, 216, 201);
  margin: 50px 10px 0;
  height: 700px;
}
